<div class="row">
    <!--

    <div class="col-lg-2">
        <div class="panel-group" id="Myid">
            <div  class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="" data-toggle="collapse" data-parent="#Myid" data-target="#Prices1" style="text-decoration: none">
                            Prices</a>
                    </h4>
                </div>
                <div id="Prices1" class="collapse panel-collapse">
                    <div class="list-group">
                        <a href="" class="list-group-item">100-200</a>
                        <a href="" class="list-group-item">300-500</a>
                        <a href="" class="list-group-item">600-800</a>
                        <a href="" class="list-group-item">800-1000</a>
                        <a href="" class="list-group-item">1000-2000</a>
                        <a href="" class="list-group-item">5000-9000</a>
                        <a href="" class="list-group-item">5000-9000</a>
                        <a href="" class="list-group-item">6000-9000</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->

   <div class=" col-lg-10">
    <ul class="nav nav-tabs" style="font-size: 16px">
        <li><a href="" ng-click="selectedTab='mobiles'">Mobiles</a></li>
        <li><a href="" ng-click="selectedTab='computer'">Computers</a></li>
     <li><a href="" ng-click="selectedTab='tablets'">Tablets</a></li>
        <li><a href="" ng-click="selectedTab='tvs'">TVs</a></li>
     <li><a href="" ng-click="selectedTab='screens'">Screens</a></li>
     <li><a href="" ng-click="selectedTab='projects'">Cameras</a></li>
     <form class="navbar-form">
               <div class="form-group">
                   <input type="search" class="form-control" placeholder="Search" ng-model="x">
               </div>
           </form>
       </ul>


       <div class="tab-content col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-init="selectedTab='mobiles'" ng-switch="selectedTab">
        <div ng-switch-when="mobiles">
            <div id="gol" class="tab-pane fade active in">
                <h1></h1>
                <div class="container">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail " ng-repeat="mobile in mobiles|filter:x track by $index">
                            <img class="" alt="{{mobile.Name}}" ng-src="{{mobile.img}}" style="width: 60%; height: 60%"/>
                            <div class="caption bg-info" style="font-weight: bold">
                                {{mobile.name}} <br/>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="pull-right label label-primary">{{mobile.price|currency:'$'}}</span>
                                <button class="btn btn-success btn-block buy" style="font-size: 12px; font-weight: bold">ADD TO CART</button>

                            </div>
                        </div>

                    </div>
                </div >
            </div>

        </div>
        <div ng-switch-when="computer">
            <div id="comp" class="tab-pane fade in">
                <h1></h1>
                <div class="container">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail " ng-repeat="computer in Computers|filter:x track by $index">
                            <img class="" alt="{{computer.Name}}" ng-src="{{computer.img}}" style="width: 100%; height: 60%"/>
                            <div class="caption bg-info" style="font-weight: bold">
                                {{computer.name}} <br/>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="pull-right label label-primary">{{computer.price}}</span>
                                <button class="btn btn-success btn-block buy" style="font-size: 12px; font-weight: bold">ADD TO CART</button>

                            </div>

                        </div>

                    </div>
                </div >

            </div>
        </div>

        <div ng-switch-when="tablets">
            <div id="tablets" class="tab-pane fade in">
                <h1></h1>
                <div class="container">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail " ng-repeat="tablet in tablets|filter:x track by $index">
                            <img class="" alt="{{tablet.Name}}" ng-src="{{tablet.img}}" style="width: 100%; height: 60%"/>
                            <div class="caption bg-info" style="font-weight: bold">
                                {{tablet.name}} <br/>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="pull-right label label-primary">{{tablet.price}}</span>
                                <button class="btn btn-success btn-block buy" style="font-size: 12px; font-weight: bold">ADD TO CART</button>

                            </div>

                        </div>

                    </div>
                </div >

            </div>

        </div>
        <div ng-switch-when="tvs">
            <div id="tv" class="tab-pane fade in">
                <h1></h1>
                <div class="container">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail " ng-repeat="tv in TVs|filter:x track by $index">
                            <img class="" alt="{{tv.Name}}" ng-src="{{tv.img}}" style="width: 100%; height: 60%"/>
                            <div class="caption bg-info" style="font-weight: bold">
                                {{tv.name}} <br/>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="pull-right label label-primary">{{tv.price}}</span>
                                <button class="btn btn-success btn-block buy" style="font-size: 12px; font-weight: bold">ADD TO CART</button>

                            </div>

                        </div>

                    </div>
                </div >

            </div>
        </div>
        <div ng-switch-when="screens">
            <div id="screen" class="tab-pane fade in">
                <h1></h1>
                <div class="container">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail " ng-repeat="screen in screens|filter:x track by $index">
                            <img class="" alt="{{screen.Name}}" ng-src="{{screen.img}}" style="width: 100%; height: 60%"/>
                            <div class="caption bg-info" style="font-weight: bold">
                                {{screen.name}} <br/>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="pull-right label label-primary">{{screen.price}}</span>
                                <button class="btn btn-success btn-block buy" style="font-size: 12px; font-weight: bold">ADD TO CART</button>

                            </div>

                        </div>

                    </div>
                </div >

            </div>
        </div>
        <div ng-switch-when="projects">
            <div id="cam" class="tab-pane fade in">
                <h1></h1>
                <div class="container">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail " ng-repeat="camera in cameras|filter:x track by $index">
                            <img class="" alt="{{camera.Name}}" ng-src="{{camera.img}}" style="width: 100%; height: 60%"/>
                            <div class="caption bg-info" style="font-weight: bold">
                                {{camera.name}} <br/>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="pull-right label label-primary">{{camera.price}}</span>
                                <button class="btn btn-success btn-block buy" style="font-size: 12px; font-weight: bold">ADD TO CART</button>

                            </div>

                        </div>

                    </div>
                </div >

            </div>
        </div>
    </div>
   </div>
</div>
<ul class="list-group">
</ul>
<style>
    .checked
    {
        color: orange;
    }
    .buy:hover{
        background-color: #2f5f2f;
    }
</style>